body{
    margin: 0;
    background-color:#353535;
}

main{
    background-color: rgb(0, 0, 0);     
    color:rgb(255, 255, 255); 
    font-size: 20px;   
    text-align: left;
    height: 90vh;
}

input, textarea, select {
    width: 99%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* div  < ---- clas="flex"
    form
    img */

/* ver com o ssor */

.flex {
    display:flex;
    justify-content: space-between;
}

section {
    width: 50%;
}


.minha-imagem {
    max-height: 75vh;
    width:50%;
    object-fit: cover;

}

form {
    padding: 20px;
}

form button {
    background-color:rgb(255, 234, 0);
    border: none;
    padding: 10px 200px;
    border-radius: 0px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}


.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%; 
}

.form-row {
    display: flex; /* Isso ativa o layout lado a lado */
    gap: 20px; /* Espaçamento entre os campos */
    margin-bottom: 15px;
    width: 100%;
}

input {
    box-sizing: border-box; /* Garante que o padding não estoure a largura */
}

label {
    /* ... seus outros estilos de label ... */
    color: inherit; /* Garante que a label fique branca, herdando de 'main' */
}
